<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Evoscan</title>
    <link href="{{ url_for('static', filename='bulma.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <div class="columns is-mobile box is-centered">
      <div class="column" id="liste">
        <div class="columns is-full is-centered">
            <div class="column button is-half is-success">
              hi
            </div>
        </div>
        <div class="columns is-full is-centered">
            <div class="column button is-half is-danger">
              hi2
            </div>
        </div>
      </div>
      
      
    </div>
    <button class="button is-info" onclick="reset()">RESET</button>
  </body>

</html>